.header-content {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #001529 !important; /* Asegúrate de que el color del Header sea consistente */
}

.header-content .logo {
    margin-right: 20px;
}

.header-content .menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu-link {
    color: white;
    transition: color 0.3s ease;
}

.menu-link:hover {
    color: #1890ff; /* Color de la animación al pasar el cursor por encima */
}

.header-content .avatar {
    margin-left: 20px;
}
